<mat-toolbar role="header" class="shadow-header" color="primary">
  <a routerLink="/" class="logo tracking-wider">MusicApp</a>
  <div class="flex-1 flex"></div>
  <a
    *ngIf="!isLoggedIn"
    class="no-underline text-base px-4 py-1 tracking-wide"
    routerLink="/admin"
    routerLinkActive="active"
    >Sign in</a
  >
  <a
    *ngIf="isLoggedIn"
    class="ml-4 text-normal no-underline text-base px-3 py-1 tracking-wide"
    routerLink="admin/recently-played"
    routerLinkActive="active"
    >Recently Liked</a
  >
  <a
    *ngIf="isLoggedIn"
    class="ml-4 no-underline text-base px-3 py-1 mr-4 tracking-wide"
    routerLink="admin/playlists"
    routerLinkActive="active"
    >Playlists</a
  >
  <span *ngIf="isLoggedIn" class="text-white">|</span>
  <a
    *ngIf="isLoggedIn"
    class="ml-4 no-underline text-base px-3 py-1 tracking-wide"
    routerLink="admin/logout"
    routerLinkActive="active"
    >Sign out <i style="color: white" class="fa fa-angle-right"></i
  ></a>
</mat-toolbar>
